body
  {
  background-image: url("img/bg1.jpg");

  background-size:cover;  
  background-repeat: no-repeat;
  
  /* background-color:aliceblue;*/
  }
 

  div,h1{
    text-align: center;
  }

  div ,p
  {
    text-align: start;
  }

h3
  {
   text-align: center;
   color: black;
  }

table
  {
   border: 2px solid black;
   text-align: start;
   color:black;
   text-decoration-style: bold;
   margin-left: 50%;
   background-color: rgb(235, 238, 244);
   border-radius: 20px;
}

button
{
    background-color: rgb(152, 152, 197);
    
    margin-left: 25%;
    border-radius: 20px;
    
}
 

