body{
   overflow: hidden ;
   font-size: large;
} 


  header{
    background-color: white;
  }
  div.nav{
    text-align: end;
  }
  
  img{
    width: 50px;
    height: 50px;
    padding-right:25%;
  }

  .nav a { 
    padding-right: 100px;
    text-decoration: none;
    font-size: 23px;
  }

  div.art1
  {
   width: 20%;
   float: left;
   height: 500px;
   background-color: gray;
   overflow-y: scroll;
   border: 1px solid black;
 }
 
  div.art3 {
   width: 20%;
   float: right;
   height: 500px;
   background-color: gray;
   overflow-y: scroll;
   border: 1px solid black;
  }

  div.art2{
   width:739.5px;
   float: right;
   height: 250px;
   overflow: hidden;
   border: 1px solid black;
  }

  div.asd{
  
    height:250px;
    width:243px;
    float: left;
    text-align: center; 
    border:2px solid black;
    background-color:gray;
    overflow:auto;
    white-space:nowrap;
   }
  
   div.foot{
    
          padding: 4px;
          background-color:gray;
          width: 733px;
          height: 250px;
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;
     
   }
  