* {
    box-sizing: border-box;
  }

input[type=text],select{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: aquamarine;
    font-size: large;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: larger;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2b1;
    padding: 20px;
  }
    
  .col1 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col2      {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  