
body{
    padding-top: 7px;
    padding-bottom: 20px;
}


.container-fluid{
    justify-content: center;
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 400px 200px;
    grid-template-rows:1.2fr 1.2fr 1.2fr;
    grid-template-areas:"a b b"
                        "a c d"
                        "e c f";
    grid-gap: 1.5rem;
}
#a{
    background-color: rgb(242, 242, 243);
    grid-area: a;
    border-radius: 10px;
    box-shadow: 3px 3px gray ;
    padding-top: 120px;
}
#b{
    background-color: rgb(242, 242, 243);
   grid-area: b;
   border-radius: 10px;
   box-shadow: 3px 3px gray ;
   padding: 20px;
   justify-content: center;
   
}

#c{
    background-color: rgb(242, 242, 243);
    grid-area: c;
    border-radius: 10px;
    box-shadow: 3px 3px gray ;
    padding-top: 150px;
}

#d{
    background-color: rgb(185, 189, 180);
    grid-area: d;
    outline: 7px solid rgba(158, 91, 159, 0.816);
    border-radius: 10px;
    padding-top: 50px;
}

#e{
    
    background-color: rgb(185, 189, 180);
    grid-area: e;
    border-radius: 10px;
    outline: 7px solid rgb(165, 185, 216) ;
    padding-top: 60px;
}

#f{
    background-color: rgb(242, 242, 243);
    grid-area: f;
    border-radius: 10px;
    box-shadow: 3px 3px gray ;
    padding-top: 50px;
}
@media screen and (max-width: 600px ){
    .container-fluid {
grid-template-columns: 2fr;
grid-template-areas: "a "
                     "b"
                     "c"
                     "d"
                     "e"
                     "f"
                    ;
    }}


p{
    font-size: medium;
   padding: 10px;
}